body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: lightgreen;
  border-color: black;
}

.newLine {
  padding-top: 20px;
  /* margin: 5px; */
}

.headerText {
  padding-bottom: 20px;
  /* margin: 5px; */
}
